  $back-x: 0px;
  $back-y: 63px;
  $back-offset-x: 0px;
  $back-offset-y: -63px;
  $back-width: 83px;
  $back-height: 35px;
  $back-total-width: 206px;
  $back-total-height: 158px;
  $back-image: '../img/sprite-main.png';
  $back: 0px 63px 0px -63px 83px 35px 206px 158px '../img/sprite-main.png';
  $back__-2x-x: 0px;
  $back__-2x-y: 0px;
  $back__-2x-offset-x: 0px;
  $back__-2x-offset-y: 0px;
  $back__-2x-width: 113px;
  $back__-2x-height: 53px;
  $back__-2x-total-width: 206px;
  $back__-2x-total-height: 158px;
  $back__-2x-image: '../img/sprite-main.png';
  $back__-2x: 0px 0px 0px 0px 113px 53px 206px 158px '../img/sprite-main.png';
  $back_active-x: 123px;
  $back_active-y: 0px;
  $back_active-offset-x: -123px;
  $back_active-offset-y: 0px;
  $back_active-width: 83px;
  $back_active-height: 35px;
  $back_active-total-width: 206px;
  $back_active-total-height: 158px;
  $back_active-image: '../img/sprite-main.png';
  $back_active: 123px 0px -123px 0px 83px 35px 206px 158px '../img/sprite-main.png';
  $back_hover-x: 123px;
  $back_hover-y: 45px;
  $back_hover-offset-x: -123px;
  $back_hover-offset-y: -45px;
  $back_hover-width: 83px;
  $back_hover-height: 35px;
  $back_hover-total-width: 206px;
  $back_hover-total-height: 158px;
  $back_hover-image: '../img/sprite-main.png';
  $back_hover: 123px 45px -123px -45px 83px 35px 206px 158px '../img/sprite-main.png';
  $sprite-x: 0px;
  $sprite-y: 108px;
  $sprite-offset-x: 0px;
  $sprite-offset-y: -108px;
  $sprite-width: 51px;
  $sprite-height: 50px;
  $sprite-total-width: 206px;
  $sprite-total-height: 158px;
  $sprite-image: '../img/sprite-main.png';
  $sprite: 0px 108px 0px -108px 51px 50px 206px 158px '../img/sprite-main.png';
