<!DOCTYPE html>
<html lang="en" >
	{{> "templates/head"}}
	<body>
	<main class="g-wrapper">
		<div class="g-wrapper__inner">
			{{> content }}
		</div>
	</main>
	<script src="./js/index.js"></script>
	</body>
</html>